.landing-section {
    height: 100dvh;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color-white;
  
    &--landing {
      background-image: url('/src/assets/images/landing.png');
    }
  
    &__container {
      height: 100%;
  
      &__title {
        font-size: calc-rem(100);
        max-width: calc-rem(700);
        line-height: calc-rem(95);
      }
  
      &__scroll-button {
        .circle {
          width: 36px;
          height: 40px;
          position: relative;
  
          &::after {
            content: '';
            position: absolute;
            top: 30%;
            width: 36px;
            height: 50%;
            left: 22%;
            background-image: url('/src/assets/icons/arrow-down.svg');
            background-repeat: no-repeat;
            background-size: contain;
            animation: arrow-down 1s infinite;
          }
        }
      }
  
      &__wrapper {
        margin-left: calc-rem(150);
        display: flex;
        flex-direction: column;
        gap: calc-rem(20);
        height: 100%;
        justify-content: center;
      }
  
      &__subtitle {
        font-weight: bold;
        font-size: 21px;
      }
  
      p {
        max-width: 260px;
      }
    }
  }
  
  @keyframes arrow-down {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(3px);
    }
  }
  