.main-footer {
  position: fixed;
  top: 0;
  right: 0;
  color: $color-white;
  height: 100dvh;
  max-width: calc-rem(750);

  &__container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    padding-top: calc-rem(50);

    &__list {
      display: grid;
      grid-template-areas: 'item-0 item-1' 'item-2 item-3' 'item-4 item-5';
    }

    &__item {
      width: calc-rem(250);
      display: flex;
      justify-content: center;
      height: calc-rem(250);
      padding-top: 30px;

      &--item-0 {
        grid-area: item-0;
      }
      &--item-1 {
        background-color: rgba($color: #ffff, $alpha: 0.1);
        grid-area: item-1;
      }
      &--item-2 {
        background-color: rgba($color: #ffff, $alpha: 0.1);
        grid-area: item-2;
      }
      &--item-3 {
        background-color: rgba($color: #000, $alpha: 0.2);
        grid-area: item-3;
      }
      &--item-4 {
        background-color: rgba($color: #000, $alpha: 0.2);
        grid-area: item-4;
      }
      &--item-5 {
        background-color: rgba($color: #ffff, $alpha: 0.1);
        grid-area: item-5;
      }
    }
  }
}
