@import 'reset';
@import 'font';
@import 'base';

html {
  scroll-behavior: smooth;
}

.main-container {
  overflow: scroll;
  height: 100vh;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  height: 100dvh;
}
