@use 'sass:math';

@mixin font-face($font-name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src:
      url($path + '.woff2') format('woff2'),
      url($path + '.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
    font-display: swap;
  }
}

@mixin font-size-range($min: $font-size-base, $max: $font-size-base + 6px) {
  font-size: calc(
    #{strip-unit($min)}px + (#{strip-unit($max)} - #{strip-unit($min)}) *
      math.div(100vw - 1350px, 2560 - 1350)
  );
}
