@mixin margin-x($left, $right: $left) {
  margin-left: $left;
  margin-right: $right;
}

@mixin margin-y($top, $bottom: $top) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding-x($left, $right: $left) {
  padding-left: $left;
  padding-right: $right;
}

@mixin padding-y($top, $bottom: $top) {
  padding-top: $top;
  padding-bottom: $bottom;
}
