---
import '@/assets/sass/components/main/footer.scss';
import Container from '@/components/core/Container';
import Input from '@/components/core/Input';
import Button from '@/components/core/Button';
import Icon from '@/components/core/Icon';
---

<footer class="main-footer" id="main-footer">
  <Container className="main-footer__container">
    <div class="main-footer__content">
      <h1>Contact</h1>
      <h2>Ready to start your project?</h2>
      <p>
        Dive into a world where technology and artistry converge, elevating online interactions and
        setting new standards for digital excellence.
      </p>
    </div>

    <div class="main-footer__form">
      <form class="main-footer__form__container">
        <div class="main-footer__form__field--name">
          <Input placeholder="Name" />
        </div>
        <div class="main-footer__form__field--surname">
          <Input placeholder="Surename" />
        </div>
        <div class="main-footer__form__field--email">
          <Input placeholder="Email address" />
        </div>
        <div class="main-footer__form__field--message">
          <Input as="textarea" placeholder="Your Message" />
        </div>

        <div class="main-footer__form__field--button">
          <Button>Contact</Button>
          <p>
            By submitting this form you read and agree to the Terms & Conditions and our privacy
            policy.
          </p>
        </div>
      </form>
    </div>
  </Container>

  <div class="main-footer__social-media">
    <a href="https://www.linkedin.com/in/thangduong1152/" target="_blank">
      <Icon name="linkdln" />
    </a>
    <a href="https://github.com/thangduonghuu" target="_blank">
      <Icon name="github" />
    </a>
  </div>
</footer>
