---
import '@/assets/sass/components/section/forest-section.scss';
import Container from '@/components/core/Container';
import Icon from '@/components/core/Icon';

const backGroundList = [
  {
    name: 'forest',
    status: 'active',
  },
  {
    name: 'brige',
    status: 'inactive',
  },
  {
    name: 'landing',
    status: 'inactive',
  },
  {
    name: 'tracking',
    status: 'inactive',
  },
  {
    name: 'brige',
    status: 'inactive',
  },
];




---

<section class="forest-section forest-section--forest">
  <Container className="forest-section__container">
    <div class="forest-section__container__wrapper">
      <div class="forest-section__container__title">
        <h1>Adventure awaits. Let's go!</h1>
      </div>
      <div class="forest-section__container__scroll-button">
        <Icon name="cricle" className="circle" size="large" />
      </div>
      <h1 class="forest-section__container__subtitle">Forest Stay</h1>
      <p>Integration with social media platforms for sharing travel plans and experiences.</p>
      <p>Integration with social media platforms for sharing</p>
    </div>
  </Container>
</section>
