---
import Container from '@/components/core/Container';
import '@/assets/sass/components/section/forest-section.scss';
import Icon from '../core/Icon';
---

<section class="forest-section">
  <Container className="forest-section__container">
    <div class="forest-section__container__wrapper">
      <div class="forest-section__container__title">
        <h1>Adventure awaits. Let's go!</h1>
      </div>
      <div class="forest-section__container__scroll-button">
        <Icon name="cricle" className="circle" size="large" />
      </div>
      <h1 class="forest-section__container__subtitle">Forest Stay</h1>
      <p>Integration with social media platforms for sharing travel plans and experiences.</p>
      <p>Integration with social media platforms for sharing</p>
    </div>
  </Container>
</section>
