---
import Icon from '../core/Icon';
import '@/assets/sass/components/main/header.scss';
---

<header class="main-header">
  <div class="main-header__container">
    <div class="main-header__profile">
      <Icon name="account" size="large" />
      <Icon name="search" size="large" />
    </div>
    <div class="main-header__name">
      <h1>Travel</h1>
    </div>
    <div class="main-header__contact">
      <Icon name="linkdln" size="large" />
    </div>
  </div>
</header>
