---
import Container from '@/components/core/Container';
import { Image } from 'astro:assets';
import '@/assets/sass/components/section/skills.scss';
import skillLogo1 from '@/assets/images/skill-logo-1.png';
import skillLogo2 from '@/assets/images/skill-logo-2.png';
import skillLogo3 from '@/assets/images/skill-logo-3.png';
import skillLogo4 from '@/assets/images/skill-logo-4.png';
import skillLogo5 from '@/assets/images/skill-logo-5.png';
import skillLogo6 from '@/assets/images/skill-logo-6.png';
import skillLogo7 from '@/assets/images/skill-logo-7.png';
import skillLogo8 from '@/assets/images/skill-logo-8.png';
import skillLogo9 from '@/assets/images/skill-logo-9.png';
import skillLogo10 from '@/assets/images/skill-logo-10.png';

const SkillLogo = [
  { name: 'HTML', logo: skillLogo1 },
  { name: 'Docker', logo: skillLogo2 },
  { name: 'Redux', logo: skillLogo3 },
  { name: 'React', logo: skillLogo4 },
  { name: 'Jenkins', logo: skillLogo5 },
  { name: 'NodeJS', logo: skillLogo6 },
  { name: 'Javascript', logo: skillLogo7 },
  { name: 'Tailwind', logo: skillLogo8 },
  { name: 'GitHub', logo: skillLogo9 },
  { name: 'VueJS', logo: skillLogo10 },
];
---

<section class="skills-section" id="skills-section">
  <Container className="skills-section__container">
    <h2 class="skills-section__title">Skills</h2>
    <ul class="skills-section__content">
      {
        SkillLogo.map((item, index) => {
          return (
            <li class="skills-section__item" data-aos="fade-up" data-aos-duration={index * 300}>
              <Image src={item.logo} width="100" alt="skill-log-1" />
              <p>{item.name}</p>
            </li>
          );
        })
      }
    </ul>
  </Container>
</section>
