---
import '@/assets/sass/components/section/tree-section.scss';
import Container from '@/components/core/Container';
import Icon from '@/components/core/Icon';
---

<section class="tree-section tree-section--tree">
  <Container className="tree-section__container">
    <div class="bridge-section__container__wrapper">
      <div class="bridge-section__container__title">
        <h1>Adventure awaits. Let's go!</h1>
      </div>
      <div class="bridge-section__container__scroll-button">
        <Icon name="cricle" className="circle" size="large" />
      </div>
      <h1 class="bridge-section__container__subtitle">bridge Stay</h1>
      <p>Integration with social media platforms for sharing travel plans and experiences.</p>
      <p>Integration with social media platforms for sharing</p>
    </div>
  </Container>
</section>
