$color-brand-1: #80714c;
$color-brand-2: #af9862;
$color-bg-1: #eef0eb;
$color-purple: #b285ff;
$color-pink: #ff85d2;
$color-base-black: #1b1b1b;
$color-menu-mobile: #FFEFE4;
$color-orange:#FD8A8A;

// BASIC
$color-dark: #404040;
$color-light: #fafafa;
$color-black: #000;
$color-white: #fff;
